.header {
    overflow: hidden;

    &__container {
        max-width: 1250px;
        margin: 0 auto;
        padding: 0px 15px 0px 15px;
        align-items: center;
    }

    &__box {
        display: flex;
        padding: 13px 0px 12px 0px;
        justify-content: space-between;
    }

    &__list {
        width: 425px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list--item--link {
        font-family: "HelveticaNeueCyr", "Arial", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: right;
        color: #333333;
        transition: all 0.3s ease-in-out;

        &:hover {
            border-bottom: 1px solid #333333;
        }
    }

    &__coll {
        padding: 13px 16px;
        font-family: "HelveticaNeueCyr", "Arial", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        border-radius: 30px;
        background-color: #A76BC7;
        transition: all 0.3s ease-in-out;
        
        &:hover {
            background-color: #8d18cc;
        }
    }

    &__menu {
        display: none;
    }

    &__bottom {
        background-image: url("./../../img/bg-sakinat.png");
    }
}

@media only screen and(max-width: 510px) {
    .header {
        &__box {
            display: flex;
            align-items: center;
        }

        &__menu {
            display: block;
            flex-direction: column;
            width: 20px;
            height: 2px;
            background-color: #C9AF89;

            &::after {
                display: block;
                content: "";
                width: 20px;
                border: 1px solid #C9AF89;
                background-color: #C9AF89;
                position: absolute;
                top: 30px;
                left: 14px;
                right: 0px;
                position: absolute;
            }
            &::before {
                display: block;
                content: "";
                width: 20px;
                position: absolute;
                border: 1px solid #C9AF89;
                background-color: #C9AF89;
                position: absolute;
                top: 23px;
                left: 14px;
                right: 0;
            }
        }

        &__logo--image { 
            width: 80px;
            height: 36px;
        }

        &__list {
           width: auto;
        }

        &__list--item {
            display: none;
        }

        &__coll {
            padding: 9px 8px;
            font-family: "HelveticaNeueCyr", "Arial", sans-serif;
            font-size: 12px;
            font-weight: 550;
            line-height: 12px;
            letter-spacing: 0em;
            text-align: center;
        }
    }
}